*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 4rem;
  background-color: #f5ffcb;
  min-height: 100vh; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: gray; }

.heading-primary {
  font-size: 6.5rem;
  color: #ff5c5c;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 100%; }

.nav__list {
  display: flex;
  list-style: none; }

.nav__item {
  padding: 0 2rem; }

.nav__link, .nav__link:link, .nav__link:visited {
  padding: .3rem .6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #222831;
  font-weight: 100;
  letter-spacing: .1rem;
  transition: all .3s;
  outline: none; }

.nav__link:hover {
  color: #ff5c5c; }

.nav__link:active {
  color: #8f0000;
  text-shadow: 0 1rem 2rem rgba(34, 40, 49, 0.3); }

.photo {
  width: 100%; }
  .photo--lg {
    padding: 1rem; }
  .photo--sm {
    padding: .5rem;
    width: 96.6%; }

.header {
  display: flex;
  height: 20rem;
  align-items: center; }
  .header__logo {
    margin-right: auto; }
    .header__logo--full {
      height: 20rem;
      width: 20rem; }

.photos {
  display: flex;
  align-items: center;
  margin-top: 5rem; }
  .photos__left {
    flex: 0 0 66.666%; }
  .photos__right {
    flex: 0 0 33.334%; }

.info {
  min-height: 65rem;
  background-color: blueviolet; }
  .info__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .info__history {
    flex: 0 0 33%; }
  .info__menu {
    flex: 0 0 33%; }
  .info__shop {
    flex: 0 0 33%; }

.cta {
  background-color: violet;
  display: flex;
  height: 35rem; }
  .cta__newsletter {
    flex: 0 0 33%; }
  .cta__map {
    flex: 0 0 33%; }
  .cta__social {
    flex: 0 0 33%; }

.footer {
  background-color: black;
  min-height: 10rem; }
