*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 4rem;
  background-color: #f1e8a7;
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 0; } }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #504A4B; }

a,
a:link,
a:visited {
  font-family: 'Exo', sans-serif;
  color: #aed09e; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph--inverse {
    color: #f1e8a7; }

.heading-primary {
  font-family: Exo, sans-serif;
  font-size: 4.5rem;
  color: #a8896c;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 100%;
  margin: 8rem 0 4rem 0; }
  @media only screen and (max-width: 84.375em) {
    .heading-primary {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 3.2rem;
      margin: 3rem 0 2rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 1.8rem; } }

.heading-secondary {
  font-family: Exo, sans-serif;
  font-size: 2.5rem;
  color: #a8896c;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.6rem; } }

.heading-tertiary {
  font-family: Exo, sans-serif;
  font-size: 2rem;
  color: #f1e8a7;
  text-align: center;
  text-transform: uppercase; }

.center {
  text-align: center; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  margin: 3rem 0 1rem 0;
  padding: 1.2rem 3rem;
  border-radius: 4px;
  background-color: #f1e8a7;
  text-decoration: none;
  color: #a8896c;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0 1rem 4rem rgba(34, 40, 49, 0.2);
  transition: all .3s;
  outline: none; }
  @media only screen and (max-width: 56.25em) {
    .btn,
    .btn:link,
    .btn:visited {
      font-size: 1.3rem;
      margin: 2rem 0 1rem 0;
      padding: 1rem 2rem; } }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    background-color: #a8896c;
    color: #f1e8a7;
    box-shadow: 0 2rem 4rem rgba(34, 40, 49, 0.2); }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    transform: translate(1px, 2px); }

.btn--cta {
  background-color: inherit;
  font-size: 2rem;
  color: #f1e8a7;
  padding: .7rem 2rem;
  border: none;
  margin-left: -5rem;
  border-radius: 3px;
  outline: none; }

.infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3ebb4;
  margin-top: 2rem;
  flex: 0 0 25%;
  border-radius: 3px;
  padding: 2rem;
  box-shadow: 0 1rem 3rem rgba(34, 40, 49, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .infocard {
      margin: 1rem; } }
  .infocard:not(:last-child) {
    margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .infocard:not(:last-child) {
        margin: 1rem; } }

.madeby {
  max-width: 27rem; }

.map {
  box-shadow: 0 1rem 3rem rgba(34, 40, 49, 0.4);
  display: block;
  margin: 0 auto; }

.nav__list {
  display: flex;
  list-style: none; }

.nav__item {
  padding: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__item {
      padding: 0 .5rem; } }

.nav__link, .nav__link:link, .nav__link:visited {
  position: relative;
  padding: .3rem .6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #a8896c;
  font-weight: 100;
  letter-spacing: .1rem;
  transition: all .3s;
  outline: none; }
  @media only screen and (max-width: 37.5em) {
    .nav__link, .nav__link:link, .nav__link:visited {
      font-size: 1.3rem; } }

.nav__link::before, .nav__link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  border: 2px solid rgba(34, 40, 49, 0.1);
  border-radius: 40%;
  opacity: 0;
  transition: all .3s;
  transform: translate(-50%, -50%) scale(0.2); }
  @media only screen and (max-width: 37.5em) {
    .nav__link::before, .nav__link::after {
      width: 8rem;
      height: 8rem;
      border-width: 1px; } }

.nav__link::after {
  width: 9rem;
  height: 9rem;
  border-width: 6px;
  transform: translate(-50%, -50%) scale(0.8); }
  @media only screen and (max-width: 37.5em) {
    .nav__link::after {
      width: 7rem;
      height: 7rem;
      border-width: 4px; } }

.nav__link:hover::before, .nav__link:hover::after, .nav__link:active::before, .nav__link:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); }

.nav__link:hover {
  color: #e8870d; }

.nav__link:active {
  color: #b86b0a;
  text-shadow: 0 1rem 2rem rgba(34, 40, 49, 0.3); }

.photo {
  width: 100%;
  padding: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .photo {
      padding: 0 1rem; } }
  .photo--sm {
    padding: 0 1rem 0 0; }
    @media only screen and (max-width: 37.5em) {
      .photo--sm {
        padding: 0 1rem;
        display: none; } }

.fa {
  color: #f1e8a7;
  transition: all .6s; }
  .fa-instagram:hover {
    color: #c13584; }
  .fa-twitter:hover {
    color: #1da1f2; }
  .fa-facebook:hover {
    color: #3b5998; }

.cta {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .cta {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .cta {
      flex-direction: column; } }
  .cta > * {
    flex: 0 0 33%;
    padding: 2rem; }
    @media only screen and (max-width: 84.375em) {
      .cta > * {
        padding: 2rem 1rem; } }
  .cta__newsletter {
    justify-content: center; }
    @media only screen and (max-width: 84.375em) {
      .cta__newsletter {
        padding-left: 2rem; } }
    @media only screen and (max-width: 75em) {
      .cta__newsletter {
        flex: 0 0 40%; } }
  .cta__form {
    margin-top: 2rem;
    display: flex; }
  .cta__label {
    color: #f1e8a7; }
  .cta__input {
    width: 90%;
    background-color: #a8896c;
    color: #f1e8a7;
    font-family: inherit;
    font-size: inherit;
    padding: .7rem 2rem;
    border: 1px solid #f1e8a7;
    box-shadow: none;
    border-radius: 3px;
    transition: all .3s; }
    .cta__input:-moz-placeholder {
      box-shadow: none !important; }
    .cta__input:invalid {
      box-shadow: none; }
  @media only screen and (max-width: 75em) {
    .cta__map {
      order: -1;
      flex: 0 0 60%; } }
  .cta__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30rem; }
    @media only screen and (max-width: 75em) {
      .cta__social {
        height: auto; } }
    @media only screen and (max-width: 37.5em) {
      .cta__social {
        padding-top: 0; } }
    .cta__social-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%; }
  .cta__icons {
    display: flex;
    justify-content: center;
    width: 100%; }
    .cta__icons > * {
      padding: 2rem; }
  @media only screen and (max-width: 75em) {
    .cta__follow-us {
      display: none; } }

.header {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      flex-direction: column; } }
  .header__logo {
    margin-right: auto; }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        margin: 2rem auto; } }
    .header__logo--full {
      height: 15rem;
      width: 35rem; }
      @media only screen and (max-width: 37.5em) {
        .header__logo--full {
          height: 7.5rem;
          width: 17.5rem; } }

.photos {
  overflow: hidden; }
  .photos__left {
    flex: 0 0 67%; }
  .photos__right {
    flex: 0 0 30%; }

.section-photos {
  display: flex;
  align-items: center;
  margin-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-photos {
      flex-direction: column;
      margin-top: 3rem; } }

.section-info {
  padding-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-info {
      padding-bottom: 4rem; } }

.infocard-container {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .infocard-container {
      flex-direction: column; } }

.section-cta {
  background-color: #a8896c; }
