.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include respond(tab-land) {
    flex-wrap: wrap;
  }
  
  @include respond(phone) {
    flex-direction: column;
  }

  & > * {
    flex: 0 0 33%;
    padding: 2rem;

    @include respond(1350) {
      padding: 2rem 1rem;
    }
  }

  &__newsletter {
    justify-content: center;

    @include respond(1350) {
      padding-left: 2rem;
    }

    @include respond(tab-land) {
      flex: 0 0 40%;
    }
  }

  &__form {
    margin-top: 2rem;
    display: flex;
  }

  &__label {
    color: $color-bg;
  }

  &__input {
    width: 90%;
    background-color: $color-secondary-light;
    color: $color-bg;
    font-family: inherit;
    font-size: inherit;
    padding: .7rem 2rem;
    border: 1px solid $color-bg;
    box-shadow: none;    
    border-radius: 3px;
    transition: all .3s;

    &:-moz-placeholder {
      box-shadow: none !important;
    }

    &:invalid {
      box-shadow: none;
    }
  }

  &__map {
    @include respond(tab-land) {
      order: -1;
      flex: 0 0 60%;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30rem;

    @include respond(tab-land) {
      height: auto;
    }

    @include respond(phone) {
      padding-top: 0;
    }

    &-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    width: 100%;

    & > * {
      padding: 2rem;
    }
  }

  &__follow-us {
    @include respond(tab-land) {
      display: none;
    }
  }
}