.info {
  min-height: 65rem;
  background-color: blueviolet;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


  &__history {
    flex: 0 0 33%;
  }

  &__menu {
    flex: 0 0 33%;
  }

  &__shop {
    flex: 0 0 33%;
  }
}