.photo {
  width: 100%;
  padding: 1rem;
  
  @include respond(phone) {
    padding: 0 1rem;
  }

  &--lg {
    
  }

  &--sm {
    padding: 0 1rem 0 0;

    @include respond(phone) {
      padding: 0 1rem;
      display: none;
    }
  }
}