body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: gray;
}

a,
a:link,
a:visited {
  font-family: 'Exo', sans-serif;
  color: $color-primary-light;
}

a:hover {

}

a:active {

}

.paragraph {
  font-size: 1.3rem;

  &--inverse {
    color: $color-bg;
  }
}

.heading-primary {
  font-family: Exo, sans-serif;
  font-size: 4.5rem;
  color: $color-secondary-light;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 100%;
  margin: 8rem 0 4rem 0;
}

.heading-secondary {
  font-family: Exo, sans-serif;
  font-size: 2.5rem;
  color: $color-secondary-light;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 100%;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-family: Exo, sans-serif;
  font-size: 2rem;
  color: $color-bg;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 100%;
}