.section-photos {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.section-info {
  padding-bottom: 10rem;
}

.infocard-container {
  display: flex;
  justify-content: center;
}

.section-cta {
  background-color: $color-secondary-light;
}